<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="vue">
  <input type="text" id="input"  v-model="messageOne">

    <input type="text" v-model="messageOne">

  </div>

</body>
<script src="https://unpkg.com/vue@2.3.3"></script>
<script type="text/javascript">
   const data = {
     message:"Hello,Vue."
   }
   //document.querySelector('#input').value = data.message
   document.getElementById('input').value = data.message
   //
   const vm = new Vue({
      el:'#vue',
      data:{
        messageOne:data.message
      }
   })

</script>
</html>
