<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="myapp">
    <ul>
       <li v-for="list in listnames" v-if="list.action">
         {{list.plan}}
       </li>
    </ul>
  </div>
</body>
<script src="https://unpkg.com/vue@2.3.3"></script>
<script type="text/javascript">
   let data = {
      listnames : [
        {plan:'编程',action:true},
        {plan:'练字',action:false},
        {plan:'学习',action:true},
        {plan:'锻炼',action:false}
      ]
   }
   const nve = new Vue({
     el:'#myapp',
     data:data
   })
</script>
</html>
