<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/demo.css">
</head>
<body>
  <div id="myapp">
    <table>
       <thead>
         <tr>
            <th colspan="3">父组件</th>
         </tr>
      </thead>
      <tbody>
         <tr>
           <td>姓名</td>
           <td>{{name}}</td>
           <td><input type="text" v-model="name" style="width:50px"></td>
         </tr>
         <tr>
           <td>年龄</td>
           <td>{{age}}</td>
           <td><input type="text" v-model="age" style="width:50px"></td>
         </tr>
      </tbody>
    </table>
    <my-component v-bind:use-name="name" v-bind:use-age="age"></my-component>
  </div>
  <template id="myComponent">
      <div>
        <div>
         <label>姓名：</label>
         <input type="text" v-model="useName">
        
        </div> 
        <div>
         <label>年龄：</label>
         <input type="text" v-model="useAge">
        </div> 
      </div>

    </template>
  <script src="https://unpkg.com/vue@2.3.3"></script>
  <script>
     const myComponent = Vue.extend({
       template:'#myComponent',
       props:['useName','useAge']
     })
  
     const vm = new Vue({
        el:'#myapp',
        data:{
          name:'Lily',
          age:17
        },
        components:{
          'my-component':myComponent
        }
     })
  </script>
</body>
</html>